*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px
}
form{
    padding-top: 50px;
    border: 1px solid blue;
    padding-bottom: 50px;
}
#contenedor{
margin: auto;
width: 500px;
}

label{
    font-size: 20px;
}

input{
    font-size: 20px;
}

textarea{
    font-size: 20px
}

#btn_enviar{
    font-size: 20px;
    width: 300px;
    padding: 10px;
    background-color: rgb(112, 112, 112);
    border: none;
}

#btn_enviar:hover{
    background-color: rgb(141, 141, 141)
}